<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cognitivo.io - readcsv</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div class="container">
    <hr>
    <div class="row">
        <div class="col">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="csv_file">Arquivo CSV</label>
                    <input type="file" class="form-control-file" id="csv_file" name="file_csv" accept=".csv">
                    <br/>
                    <button type="submit" name="btnSubmitFile">Enviar e processar</button>
                </div>
            </form>
            {% if uploaded_file_url %}
            <p>Arquivo enviado e processamento iniciado. {{ uploaded_file_url }}</p>
            <p>Dependendo do número de registros do arquivo, o processamento pode demorar um poubo.</p>
            <p>Verifique o arquivo readcsvlog.log para saber do fim do processamento.</p>
            {% endif %}
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <p>Categoria News - App com a maior avaliação -
                <button type="button" class="btn btn-link" id="link_listar_1">Listar</button>
            </p>
            <table class="table table-responsive table-bordered table-sm" id="table_1">
                <thead>
                <tr>
                    <th scope="col">ID_CSV</th>
                    <th scope="col">Track_name</th>
                    <th scope="col">n_citacoes</th>
                    <th scope="col">size_bytes</th>
                    <th scope="col">price</th>
                    <th scope="col">prime_genre</th>
                    <th scope="col">rating_count_tot</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="table_1_json">Json</label>
                <textarea class="form-control" id="table_1_json" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="table_1_csv">CSV</label>
                <textarea class="form-control" id="table_1_csv" rows="3"></textarea>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <p>Music e Book - 10 Apps mais avaliadas -
                <button type="button" class="btn btn-link" id="link_listar_2">Listar</button>
            </p>
            <table class="table table-responsive table-bordered table-sm" id="table_2">
                <thead>
                <tr>
                    <th scope="col">ID_CSV</th>
                    <th scope="col">Track_name</th>
                    <th scope="col">n_citacoes</th>
                    <th scope="col">size_bytes</th>
                    <th scope="col">price</th>
                    <th scope="col">prime_genre</th>
                    <th scope="col">rating_count_tot</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="table_2_json">Json</label>
                <textarea class="form-control" id="table_2_json" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="table_2_csv">CSV</label>
                <textarea class="form-control" id="table_2_csv" rows="3"></textarea>
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <p>Music e Book - 10 apps mais citadas -
                <button type="button" class="btn btn-link" id="link_listar_3">Listar</button>
            </p>
            <table class="table table-responsive table-bordered table-sm" id="table_3">
                <thead>
                <tr>
                    <th scope="col">ID_CSV</th>
                    <th scope="col">Track_name</th>
                    <th scope="col">n_citacoes</th>
                    <th scope="col">size_bytes</th>
                    <th scope="col">price</th>
                    <th scope="col">prime_genre</th>
                    <th scope="col">rating_count_tot</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="table_2_json">Json</label>
                <textarea class="form-control" id="table_3_json" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="table_2_csv">CSV</label>
                <textarea class="form-control" id="table_3_csv" rows="3"></textarea>
            </div>
        </div>
    </div>
    <hr>
</div>
<body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<script type="text/javascript">
    function arrayToCSV(objArray, header_ = false) {
        let csv = '';
        let header = '';
        if (header_ == true) {
            header += Object.keys(objArray[0]).join(';') + '\n';
        }
        let values = objArray.map(o = > Object.values(o).join(';')
    ).
        join('\n');
        csv += header + values;
        return csv;
    }
</script>

<script type=text/javascript>
    $("#link_listar_1").click(function () {
        $.ajax({
            url: '{% url 'news' %}',
            type: 'get',
            dataType: 'json',
            success: function (result) {
                $('#table_1 tbody').html('');
                let thHTML = '<tbody>';
                thHTML += '<tr>';
                thHTML += '<td>' + result.id_csv + '</td>';
                thHTML += '<td>' + result.track_name + '</td>';
                thHTML += '<td>' + result.n_citacoes + '</td>';
                thHTML += '<td>' + result.size_bytes + '</td>';
                thHTML += '<td>' + result.price + '</td>';
                thHTML += '<td>' + result.prime_genre + '</td>';
                thHTML += '<td>' + result.rating_count_tot + '</td>';
                thHTML += '</tr></tbody>';
                $('#table_1').append(thHTML);

                var result_json = JSON.stringify(result, null, 4);

                $('#table_1_json').val(result_json);
                $('#table_1_csv').val(arrayToCSV([result], true));
            }
        });
    });

    $("#link_listar_2").click(function () {
        $.ajax({
            url: '{% url 'music_book' %}',
            type: 'get',
            dataType: 'json',
            success: function (result) {
                $('#table_2 tbody').html('');
                let thHTML = '<tbody>';
                let csv = '';
                $.each(result, function (i, r) {
                    thHTML += '<tr>';
                    thHTML += '<td>' + r.id_csv + '</td>';
                    thHTML += '<td>' + r.track_name + '</td>';
                    thHTML += '<td>' + r.n_citacoes + '</td>';
                    thHTML += '<td>' + r.size_bytes + '</td>';
                    thHTML += '<td>' + r.price + '</td>';
                    thHTML += '<td>' + r.prime_genre + '</td>';
                    thHTML += '<td>' + r.rating_count_tot + '</td>';
                    thHTML += '</tr>';
                    if (i == 0) {
                        csv += arrayToCSV([r], true) + '\n';
                    } else {
                        csv += arrayToCSV([r]) + '\n';
                    }
                });
                thHTML += '</tbody>';
                $('#table_2').append(thHTML);

                var result_json = JSON.stringify(result, null, 4);
                $('#table_2_json').val(result_json);
                $('#table_2_csv').val(csv);
            }
        });
    });
</script>

</body>
</html>